<configuration>

    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) [%X{request_id}] [%X{EXEC_TIME}] %highlight(%-5level) %logger{36}.%M - %msg%n </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs</file>
        <append>true</append>
        <encoder>
            <pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) [%X{request_id}] [%X{EXEC_TIME}] %highlight(%-5level) %logger{36}.%M - %msg%n </pattern>
        </encoder>
    </appender>

    <springProfile name="default">

        <root level="WARN">
            <appender-ref ref="CONSOLE_LOG"/>
<!--
            <appender-ref ref="FILE"/>
-->
        </root>
    </springProfile>
</configuration>